body {
	width: 1000px;
	background-color: black;
	margin: 0 auto;
	font-family: "Share", sans-serif;
}

.jumbotron {
	background-image: url("trainstation.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	text-align: center;
}


h1 {
	font-family: "Monoton", sans-serif;
	text-shadow: 2px 2px 2px #FBF4D6;
	letter-spacing: 3px;
}

h2 {
	color: #FBF4D6;
	text-shadow: 5px 1px 3px black;
}

.panel-heading {
	padding: 5px 10px;
	text-align: center;
}

h3 {
	font-size: 20px;
}

#buttonDiv {
	text-align: center;
}

button {
	background-color: #FBF4D6;
	padding:  5px 20px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	color: #8A6D3B;
	margin: 0 10px;
}

#addTrain:hover {
	color: #19BE05;
	border: 2px solid #19BE05;
}

#clearTrains:hover {
	color: #ED0039;
	border: 2px solid #ED0039;
}